
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.main {
  max-width: 80%;
  margin: 0 auto; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  color: #4adb34; 
}


.card-subtitle {
  color: #1b1919; 
}


.card-text {
  margin-top: 10px;
}


.card-text span {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 5px;
  border: 2px solid #03131e; 
  border-radius: 5px;
  background-color: #132e39; 
  color: white;
  font-size: 12px;
}


.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.pagination-controls .pagination li {
  display: inline-block;
  margin-right: 5px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
