
.navbar {
  background-color: #3498db;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Input field styling */
.input-field {
  width: 30%;
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Search button styling */
.search-button {
  padding: 8px 16px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #27ae60;
}


.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

